// Btns
.btn-default:hover{
  border-color: mix( $brand-primary, white, 75% );
  background: mix( $brand-primary, white, 75% );
}

// Icons
.btn[class*="icon-"]:before{
  // align-right
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

// Header
header{
  background: white;
}

@media (min-width: $screen-sm-min) {
  
  header > .container{
    background: url(../assets/pinto-gobierno-abierto.jpg) no-repeat right center white;
  }
}


.main-entity-logo{
  margin-top: 2*$grid-gutter-width/3;
  margin-bottom: 2*$grid-gutter-width/3;
}

.navbar-brand > a{
  display: block;
  width: 355px;
  height: 37px;
  margin: $grid-gutter-width/6 auto 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../assets/cuentas-claras.jpg) no-repeat center top white;
}

.navbar-default .navbar-nav{
  [class*="icon-"]:before{
    display: none;
  }

  > li > a{
    text-transform: uppercase;
    font-weight: $font-weight-400;

    &:hover{
      color: $dvmi-navbar-color;
    }
  }

  > li.active > a{
    font-weight: $font-weight-600;
  }
}

.form-search{
  background: darken( $brand-secondary, 5% );
}

// Section Header
.section-header .page-title{
  color: black;
}

// Social Sharing
.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

// Data Sources
.data-sources {
  background: $brand-terciary;
  .alert{
   background: mix( $brand-terciary, white, 50% );
  }
}

// Data Downloads
.panel-downloads{
  border-color: $brand-secondary;
  background: $brand-secondary;

  a{
    color: $brand-primary;

    &:hover{
      color: $text-color;
    }
  }
}

// Home
.home-content .options{
  background: $brand-secondary;

  .option > div{

    .icon{
      color: $brand-terciary;
    }

    &.option-global .icon{
      color: #e7b439;
    }
    &.option-policies .icon{
      color: #e19c18;
    }
    &.option-payments .icon{
      color: #c73915;
    }
    &.option-tax .icon{
      color: #9a2d19;
    }

    .option-title:hover h3{
      color: $text-color;
    }

    .btn{
      font-size: 1.125em;
      font-weight: $font-weight-300;
      @include transition( background-color 0.3s ease-out );

      &:before{
        content: "";
        display: block;
        width: 19px;
        height: 19px;
        margin-top: 1px;
        background: url(/static/assets/plus-icon.png) no-repeat 0 0 transparent;
      }

      &:hover{
        background-color: darken( $brand-primary, 10% );
        border-color: darken( $brand-primary, 10% );
      }
    }
  }
}

// Budget
.budget-intro{
  background: $brand-terciary;

  .budget-step{
    border: none;

    h3 
    span{
      color: $brand-primary;
      font-weight: $font-weight-400;
    }
    b{
      font-weight: $font-weight-400;
    }
    .desc{
      font-size: 1em;
      background: $gray-light;

      b{
        font-weight: $font-weight-400;
      }
    }
  }
}
.budget-data{
  background: $brand-secondary;
}

// Policies
.policies-graph{
  background: white;
}

.stacked-area-chart-legend .label{
  
  &:hover{
    background: $brand-secondary;
  }
}

// Glossary
.form-search-glossary .btn-primary{
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover{
    background-color: mix( $brand-primary, white, 75% );
    border-color: mix( $brand-primary, white, 75% );
  }
}
.glossary-terms h3, 
.glossary-terms h4{
  font-weight: $font-weight-300;
  
  &:before{
    color: $brand-primary;
  }
}

.form-search-glossary .form-control{
  border-color: $brand-primary;
}

// Search
.search-content .alert{
  background: $brand-secondary;
}
.search-content .panel{
  border-color: $brand-primary;

  .panel-heading{
    color: white;
    background: $brand-primary;

    h3{
      color: white;
    }
  }
}

// Search Icon
.form-search-glossary .btn-default:before,
.form-search .form-inline .btn:before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  background: url(/static/assets/search-icon.png) no-repeat 0 0 transparent;
}

.tax-receipt-content{

  #tax-amount small{
    display: inline-block;
    max-width: 600px;
    font-size: 0.613em;
    font-style: italic;
    margin-top: $grid-gutter-width/2;
  }

  .form-user-incomings{
    padding-top: $grid-gutter-width;

    .input-group-addon:last-child{
      font-weight: $font-weight-600;
      background: none;
    }

    .checkbox{
      clear: both;

      label{
        font-weight: $font-weight-600;
        line-height: 20px;
      }
    }
  }
}