<script>
  $(function () {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;


    // Set house tax values & callback
    TaxReceipt.taxes.house.values        = [0, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5];
    TaxReceipt.taxes.house.callback      = function(selector, values) {
      var value = $('#select-'+selector).val();
      var bonus = values[$('#select-'+selector+'-bonus').val()];
      return (value*0.0075) * (1-bonus);
    };
    // Set vehicles tax values & callback
    TaxReceipt.taxes.vehicle.values        = [0, 12.62, 34.08, 71.94, 89.61, 112];
    TaxReceipt.taxes.vehicleExtra.values   = [0, 12.62, 34.08, 71.94, 89.61, 112];
    TaxReceipt.taxes.vehicle.callback      =
    TaxReceipt.taxes.vehicleExtra.callback = function(selector, values) {
      var value = values[$('#select-'+selector).val()];
      var bonus = ($('#check-'+selector+'-new').is(':checked')) ? [0.75, 0.4, 0.2, 0][$('#select-'+selector+'-bonus').val()] : 0;
      return value * (1-bonus);
    }
    // Set parking tax values
    TaxReceipt.taxes.parking.values = [0, 9.39, 43.24];

    // Remove garbage tax
    delete TaxReceipt.taxes.garbage;

    // Add extra tax for payment method bonus
    // We can add new taxed to TaxReceipt.taxes object
    // defining its selector, values array & callback function
    TaxReceipt.taxes.payment = {
      selector: 'payment-method',
      values:   [0.025, 0.05, 0.01, 0],
      callback: function(selector, values) {
        var value = values[$('#select-'+selector).val()];
        var bonusMax = [300, 500, 100, 0][$('#select-'+selector).val()];
        bonusAmount = TaxReceipt.totalTaxPaid * value;
        if (bonusAmount > bonusMax) {
          bonusAmount = bonusMax;
        }
        return -bonusAmount;
      }
    };

    // Show/hide vehicles bonus select
    $('#check-vehicle-new').change(function(){
      if( $(this).is(':checked') ){
        $('.select-vehicle-bonus-cont').show();
      } else{
        $('.select-vehicle-bonus-cont').hide();
      }
    });
    $('#check-extra-vehicle-new').change(function(){
      if( $(this).is(':checked') ){
        $('.select-extra-vehicle-bonus-cont').show();
      } else{
        $('.select-extra-vehicle-bonus-cont').hide();
      }
    });

    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

  })
</script>